.pokemon-card {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 12px;
    background: #f6f8fc;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-image {
  text-align: center;
}

#pokemon-types span {
  display: inline-block;
  background: #ccc;
  margin: 4px;
  padding: 4px 8px;
  border-radius: 8px;
}

.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    color: black;
}